<h1>Present Log In Information</h1><br />
<%= button_to "Log in with Google", ':provider/callback' %>
<br />

<%= form_with(url: '/login') do |f|%>
    <%= f.label :email %>
    <%= f.email_field :email %><br><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br><br>

    <%= f.submit "Log In"%>
<% end %>