<h2>Post a comment on <%= @plant.user.username %>'s <%= @plant.name %></h1>

<%= form_for(@comment) do |f| %>
    <%= f.hidden_field :plant_id, :value => @plant.id %>

    <%= f.label :content, "Comment" %>
    <%= f.text_field :content, plceholder: "Comment here." %>
    <br />
    <br />
    <%= f.submit "Submit" %>
<% end %>