<h2>Add a New Type of Plant</h2>
<br />
<% if @type.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@type.errors.count, "error") %> stopped you from making this type: </h2>
        <ul>
            <% @type.errors.full_messages.each do |err| %>
                <li><%= err %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for(@type)  do |f| %>
    <%= render partial: 'fields', locals: {f: f} %>
    <br />
    <%= f.submit %>
<% end %>