<div>
    <h4>Search for a plant name: </h4>
    <%= form_tag(plants_path, method: 'get') do %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("search") %>
    <% end %>
</div>
<br />
<br />

<% if @plants != nil %>
    <% @plants.order_by_name.each do |plant| %>
        <li>
            <img class="plant_image_index" src="<%= plant.img %>" alt="<%= plant.name %>"><br />
            <%= link_to plant.name, plant_path(plant) %><br /><br />
        </li>
    <% end %>
<% end %>
