<!DOCTYPE html>
<html>
  <head>
    <title>Photo-Synthesis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <%= link_to 'All Plants', plants_path %> | 
    <%= link_to 'All Types', types_path %> | 
    <%= link_to 'Add New Plant', new_plant_path %> | 
    <%= link_to 'Log Out', logout_path, method: 'delete' %>
    <br />
    <br />

    <% if flash[:alert] %>
      <div class="field_with_errors"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
